<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница Оформления</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
</head>

<body>
    <div class="wrapper">
        <div id="content" class="news-detail--page">
            <div class="open--main-menu" id="main--menu">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex justify-content-between mt-5">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="#" class="header--btn phone">
                                        <img src="./assets/imgs/phone.svg" alt="phone" class="header--btn-image">
                                    </a>
                                </div>
                                <div class="country--value">
                                    <button class="lang--on">RUS</button>/
                                    <button class="lang--off">USD</button>/
                                    <button class="lang--off">TANG</button>
                                </div>
                                <div class="logotype d-flex justify-content-center align-items-center">
                                    <img src="./assets/imgs/logotype-low.svg" alt="logotype" class="logotype--img">
                                </div>
                                <div class="lang">
                                    <button class="lang--off">ENG</button>/
                                    <button class="lang--on">РУС</button>
                                </div>
                                <div class="d-flex justify-content-between align-items-center"
                                    onClick="closedMainMenu()">
                                    <span class="me-4">Выход</span>
                                    <a href="#" class="header--btn phone">
                                        <div class="cross">
                                            <div class="md"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex theme">
                                    <a href="#" class="header--btn dark">
                                        <img src="./assets/imgs/dark-th-btn.svg" alt="viber"
                                            class="header--btn-image"></a>
                                    <a href="#" class="header--btn light">
                                        <img src="./assets/imgs/light-th-btn.svg" alt="viber"
                                            class="header--btn-image"></a>
                                </div>
                                <div class="d-flex">
                                    <a href="#" class="header--btn instagram">
                                        <img src="./assets/imgs/instagram.svg" alt="viber"
                                            class="header--btn-image"></a>
                                    <a href="#" class="header--btn whatsapp">
                                        <img src="./assets/imgs/whatsapp.svg" alt="viber" class="header--btn-image"></a>
                                    <a href="#" class="header--btn vk">
                                        <img src="./assets/imgs/vk.svg" alt="viber" class="header--btn-image"></a>
                                    <a href="#" class="header--btn telegram">
                                        <img src="./assets/imgs/telegram.svg" alt="viber" class="header--btn-image"></a>
                                    <a href="#" class="header--btn viber">
                                        <img src="./assets/imgs/viber.svg" alt="viber" class="header--btn-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="open-nav-btns">
                                <div class="row-btn d-flex justify-content-between mt-4">
                                    <a href="#" class="header--btn constructor"><span>Подборки</span></a>
                                    <a href="#" class="header--btn florist"><span>Подборки</span></a>
                                    <a href="#" class="header--btn perfect"><span>Подборки</span></a>
                                </div>
                                <div class="row-btn d-flex justify-content-between mt-4">
                                    <a href="#" class="header--btn selections"><span>Подборки</span></a>
                                    <a href="#" class="header--btn gratitude"><span>Быстрый заказ</span></a>
                                    <a href="#" class="header--btn news"><span>Быстрый заказ</span></a>
                                </div>
                                <div class="row-btn d-flex justify-content-between mt-4">
                                    <a href="#" class="header--btn booking"><span>Быстрый заказ</span></a>
                                    <a href="#" class="header--btn check"><span>Проверить заказ</span></a>
                                    <a href="#" class="header--btn subscription"><span>Цветочная подписка</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header">
                <div class="container">
                    <div class="desktop-nav">
                        <div class="w-100 d-flex">
                            <div class="logotype d-flex justify-content-center align-items-center">
                                <a href="../index.html"><img src="../assets/imgs/logotype.svg" alt="logotype"
                                        class="logotype--img"></a>
                            </div>
                            <div class="nav">
                                <div class="nav--row">
                                    <div class="select--city header--btn city pointer">
                                        <a
                                            class="select text-white text-decoration-none d-flex justify-content-center align-items-center">
                                            <span>Выбрать город</span>
                                        </a>
                                    </div>
                                    <a href="./selections.html" class="header--btn selection"><span>Подборки</span></a>
                                    <a href="#" class="header--btn bals">1210</a>
                                    <a href="#" class="header--btn notifications">У</a>
                                    <a href="#" class="header--btn basket pop-up_btn" data-pop-up-status=1
                                        data-pop-up-name="wrapper--basket">К</a>
                                    <a href="#" class="header--btn phone">
                                        <img src="../assets/imgs/phone.svg" alt="phone" class="header--btn-image">
                                    </a>
                                    <a href="#" class="header--btn search">
                                        <img src="../assets/imgs/search.svg" alt="search" class="header--btn-image">
                                    </a>
                                    <a href="#" class="header--btn burger" onClick="openMainMenu()">
                                        <span class="burger--text">Меню</span>
                                        <div class="burger--lines">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>
                                    <a href="#" class="header--btn account">А</a>
                                </div>
                                <div class="nav--row pt-2">
                                    <a href="#" class="header--btn constructor"><span>Виртуальный флорист </span></a>
                                    <a href="#" class="header--btn florist"><span>Cоздать букет</span></a>
                                    <a href="#" class="header--btn booking">Срочный заказ</a>
                                    <a href="#" class="header--btn car">
                                        <img src="../assets/imgs/speedcar-icon.svg" alt="speedcar">
                                    </a>

                                    <a href="#" class="header--btn instagram">
                                        <img src="../assets/imgs/instagram.svg" alt="viber"
                                            class="header--btn-image"></a>
                                    <a href="#" class="header--btn whatsapp">
                                        <img src="../assets/imgs/whatsapp.svg" alt="viber"
                                            class="header--btn-image"></a>
                                    <a href="#" class="header--btn vk">
                                        <img src="../assets/imgs/vk.svg" alt="viber" class="header--btn-image"></a>
                                    <a href="#" class="header--btn telegram">
                                        <img src="../assets/imgs/telegram.svg" alt="viber"
                                            class="header--btn-image"></a>
                                    <a href="#" class="header--btn viber">
                                        <img src="../assets/imgs/viber.svg" alt="viber" class="header--btn-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-nav">
                        <div class="w-100 d-flex">
                            <div class="logotype d-flex justify-content-center align-items-center">
                                <img src="../assets/imgs/logotype.svg" alt="logotype" class="logotype--img">
                            </div>
                            <div class="nav">
                                <a href="#" class="header--btn city"><span>М</span></a>
                                <a href="#" class="header--btn selection"><span>П</span></a>
                                <a href="#" class="header--btn bals">1210</a>
                                <a href="#" class="header--btn notifications">У</a>
                                <a href="#" class="header--btn basket pop-up_btn" data-pop-up-status=1
                                    data-pop-up-name="wrapper--basket">К</a>
                                <a href="#" class="header--btn phone">
                                    <img src="../assets/imgs/phone.svg" alt="phone" class="header--btn-image">
                                </a>
                                <a href="#" class="header--btn search">
                                    <img src="../assets/imgs/search.svg" alt="search" class="header--btn-image">
                                </a>
                                <a href="#" class="header--btn burger">
                                    <span class="burger--text">М</span>
                                    <div class="burger--lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <a href="#" class="header--btn account">А</a>
                                <a href="#" class="header--btn constructor"><span>К</span></a>
                                <a href="#" class="header--btn florist"><span>Ф</span></a>
                                <a href="#" class="header--btn booking">С</a>
                                <a href="#" class="header--btn car">
                                    <img src="./assets/imgs/speedcar-icon.svg" alt="speedcar">
                                </a>

                                <a href="#" class="header--btn instagram">
                                    <img src="../assets/imgs/instagram.svg" alt="viber" class="header--btn-image"></a>
                                <a href="#" class="header--btn whatsapp">
                                    <img src="../assets/imgs/whatsapp.svg" alt="viber" class="header--btn-image"></a>
                                <a href="#" class="header--btn vk">
                                    <img src="../assets/imgs/vk.svg" alt="viber" class="header--btn-image"></a>
                                <a href="#" class="header--btn telegram">
                                    <img src="../assets/imgs/telegram.svg" alt="viber" class="header--btn-image"></a>
                                <a href="#" class="header--btn viber">
                                    <img src="../assets/imgs/viber.svg" alt="viber" class="header--btn-image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row pt-5">
                    <div class="col-12">
                        <a class="text-white text-decoration-none back" href="#" onClick="goBack()">
                            &larr;
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4">
                        <h2>Оформление заказа</h2>
                    </div>
                </div>
                <div class="row pt-5 justify-content-between">
                    <div
                        class="col-xxl-7 col-xl-7 col-lg-6 col-md-6 col-sm-12 col-12 order-2 order-xxl-1 order-xl-1 order-lg-1 order-md-1 order-sm-2">
                        <p class="text-silver mt-2">
                            Выберите, кто будет получать заказ ?
                        </p>
                        <div class="tab--interface">
                            <button class="white--btn d-flex flex-column justify-content-center align-items-center"
                                id="tab-i1--state-1">
                                <span>Я</span>
                                <span>Заказ будет доставлен вам лично</span>
                            </button>
                            <button
                                class="transparent--btn  d-flex flex-column justify-content-center align-items-center"
                                id="tab-i1--state-2">
                                <span>Получатель</span>
                                <span>Заказ будет доставлен другому
                                    человеку</span>
                            </button>
                        </div>
                        <div class="tab--content" id="tab--content-1">
                            <form action="">
                                <div id="tab--content-state-1" class="tab--content-state tab--content-state-active">
                                    <div class="content--grid">
                                        <div>
                                            <div class="d-flex flex-column mt-4">
                                                <label for="#">Ваше имя*</label>
                                                <input type="text" placeholder="Имя" class="input--transparent mt-2">
                                            </div>
                                            <div class="d-flex flex-column mt-4">
                                                <label for="#">Город доставки</label>
                                                <input type="text" placeholder="Москва" class="input--transparent mt-2">
                                            </div>
                                            <div class="d-flex flex-column mt-4">
                                                <label for="#">Улица</label>
                                                <input type="text" placeholder="Название улицы"
                                                    class="input--transparent mt-2">
                                            </div>
                                            <div class="d-flex flex-column mt-4">
                                                <label for="#">Подъезд</label>
                                                <input type="text" placeholder="Подъезд"
                                                    class="input--transparent mt-2">
                                            </div>
                                            <div class="d-flex flex-column mt-4">
                                                <label for="#">Квартира</label>
                                                <input type="text" placeholder="Кв" class="input--transparent mt-2">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="d-flex flex-column mt-4">
                                                <label for="#">Ваша номер телефона*</label>
                                                <input type="text" placeholder="+7" class="input--transparent mt-2">
                                            </div>
                                            <div class="d-flex flex-column mt-4">
                                                <label for="#">Дата доставки*</label>
                                                <input type="text" placeholder="01.07.2021"
                                                    class="input--transparent mt-2">
                                            </div>
                                            <div class="d-flex flex-column mt-4">
                                                <label for="#">Номер дома</label>
                                                <input type="text" placeholder="№ Дома" class="input--transparent mt-2">
                                            </div>
                                            <div class="d-flex flex-column mt-4">
                                                <label for="#">Этаж</label>
                                                <input type="text" placeholder="Этаж" class="input--transparent mt-2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form action="#" id="form">
                                <div id="tab--content-state-2" class="tab--content-state">
                                    <div class="content--grid">
                                        <div>
                                            <div class="d-flex flex-column mt-4">
                                                <label for="#">Ваше имя*</label>
                                                <input name="name" type="text" placeholder="Имя"
                                                    class="input--transparent mt-2">
                                            </div>
                                            <div class="d-flex flex-column mt-4">
                                                <label for="#">Имя получителя*</label>
                                                <input name="name-2" type="text" placeholder="Москва"
                                                    class="input--transparent mt-2">
                                            </div>
                                            <div class="d-flex flex-column mt-4">
                                                <label for="#">Город доставки*</label>
                                                <input name="city" type="text" placeholder="Название улицы"
                                                    class="input--transparent mt-2">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="d-flex flex-column mt-4">
                                                <label for="#">Ваша номер телефона*</label>
                                                <input name="phone" type="text" placeholder="+7"
                                                    class="input--transparent mt-2">
                                            </div>
                                            <div class="d-flex flex-column mt-4">
                                                <label for="#">Телефон получателя*</label>
                                                <input name="phone-2" type="text" placeholder="01.07.2021"
                                                    class="input--transparent mt-2">
                                            </div>
                                            <div class="d-flex flex-column mt-4">
                                                <label for="#">Дата доставки*</label>
                                                <input name="date" type="text" placeholder="№ Дома"
                                                    class="input--transparent mt-2">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-5">Уточнить адрес у получателя*</p><br>
                                    <div>
                                        <label class="custom-radio pointer me-4" id="address-on">
                                            <input type="radio" name="clarification">
                                            <span>Да</span>
                                        </label>
                                        <label class="custom-radio pointer" id="address-off">
                                            <input type="radio" name="clarification" checked="checked">
                                            <span>Нет</span>
                                        </label>
                                    </div>
                                    <div class="content--grid mt-2">
                                        <div>
                                            <div
                                                class="address--section d-flex flex-column mt-4 section--input-disabled">
                                                <label for="#">Улица</label>
                                                <input name="street" type="text" placeholder="Название улицы"
                                                    class="input--transparent mt-2" disabled="true">
                                            </div>
                                            <div
                                                class="address--section d-flex flex-column mt-4 section--input-disabled">
                                                <label for="#">Подьезд</label>
                                                <input name="entrance" type="text" placeholder="Подъезд"
                                                    class="input--transparent mt-2" disabled="true">
                                            </div>
                                            <div
                                                class="address--section d-flex flex-column mt-4 section--input-disabled">
                                                <label for="#">Квартира </label>
                                                <input name="apartment" type="text" placeholder="Кв"
                                                    class="input--transparent mt-2" disabled="true">
                                            </div>
                                        </div>
                                        <div>
                                            <div
                                                class="address--section d-flex flex-column mt-4 section--input-disabled">
                                                <label for="#">Номер дома</label>
                                                <input name="house" type="text" placeholder="№ Дома"
                                                    class="input--transparent mt-2" disabled="true">
                                            </div>

                                            <div
                                                class="address--section d-flex flex-column mt-4 section--input-disabled">
                                                <label for="#">Этаж</label>
                                                <input name="floor" type="text" placeholder="Этаж"
                                                    class="input--transparent mt-2" disabled="true">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p class="mt-5">Выберите время доставки *</p>
                            <div class="content--grid" id="time--delivery">
                                <div>
                                    <div class="content--grid">
                                        <div class="time--group">
                                            <input id="time1" name="asd" type="radio" value="10:00-12:00"
                                                class="d-none">
                                            <label for="time1"
                                                class="input--transparent w-100 mt-2 text-center pointer">10:00-12:00</label>
                                        </div>
                                        <div class="time--group">
                                            <input id="time2" name="asd" type="radio" value="13:00-15:00"
                                                class="d-none">
                                            <label for="time2"
                                                class="input--transparent w-100 mt-2 text-center pointer">13:00-15:00</label>
                                        </div>
                                    </div>
                                    <div class="content--grid">
                                        <div class="time--group">
                                            <input id="time3" name="asd" type="radio" value="15:00-18:00"
                                                class="d-none">
                                            <label for="time3"
                                                class="input--transparent w-100 mt-2 text-center pointer">15:00-18:00</label>
                                        </div>
                                        <div class="time--group">
                                            <input id="time4" name="asd" type="radio" value="18:00-20:00"
                                                class="d-none">
                                            <label for="time4"
                                                class="input--transparent w-100 mt-2 text-center pointer">18:00-20:00</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column mt-4 ">

                                        <div class="d-flex flex-column mt-4">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="mt-2">Доставка вне режима работы ?</a>
                            <p class="mt-4">Звонок получателю перед отправкой*</p>
                            <div>
                                <label class="custom-radio pointer me-4">
                                    <input type="radio" name="call">
                                    <span>Да</span>
                                </label>
                                <label class="custom-radio pointer">
                                    <input type="radio" name="call" checked="checked">
                                    <span>Нет</span>
                                </label>
                            </div>
                            <p class="mt-4">Доставка за город*</p>
                            <div>
                                <label class="custom-radio pointer me-4">
                                    <input type="radio" name="out-of-town">
                                    <span>Да</span>
                                </label>
                                <label class="custom-radio pointer">
                                    <input type="radio" name="out-of-town" checked="checked">
                                    <span>Нет</span>
                                </label>
                            </div>
                            <p class="mt-4">Получить фото букета на whatsapp</p>
                            <div>
                                <label class="custom-radio pointer me-4">
                                    <input type="radio" name="whatsapp">
                                    <span>Да</span>
                                </label>
                                <label class="custom-radio pointer">
                                    <input type="radio" name="whatsapp" checked="checked">
                                    <span>Нет</span>
                                </label>
                            </div>
                            <p class="mt-4">Большая открытка 250руб <span>(до 2500 символов)</span></p>
                            <div>
                                <label class="custom-radio pointer me-4">
                                    <input type="radio" name="postcard">
                                    <span>Да</span>
                                </label>
                                <label class="custom-radio pointer">
                                    <input type="radio" name="postcard" checked="checked">
                                    <span>Нет</span>
                                </label>
                            </div>
                            <div class="content--grid mt-4">
                                <button id="post--card-on"
                                    class="white--btn d-flex flex-column justify-content-center align-items-center"
                                    id="tab-i1--state-1">
                                    <span>Открытка бесплатно</span>

                                </button>
                                <button id="post--card-off"
                                    class="transparent--btn  d-flex flex-column justify-content-center align-items-center"
                                    id="tab-i1--state-2">
                                    <span>Не нужна открытка</span>
                                </button>
                            </div>
                            <textarea id="post--card-area" contenteditable="true"
                                placeholder="Текст к открытке не более 400 символов"
                                class="input--transparent input--transparent-area mt-4" name="postcard--area"
                                id="postcard--aria-1" maxlength='400'></textarea>
                            <p class="mt-4">Добавить комментарий</p>
                            <textarea contenteditable="true" placeholder="Ваш комметарий"
                                class="input--transparent input--transparent-area mt-4" name="comment--area"
                                id="comment--aria-1" maxlength='1000'></textarea>
                            <p class="mt-4">Выберите способ оплаты</p>
                            <div class="d-flex flex-column mt-4">
                                <input type="button" value="Банковская карта"
                                    class="input--transparent input--transparent-card ps-5 text-start text-silver mt-2 w-50">
                            </div>
                            <div class="d-flex mt-4">
                                <label class="custom-radio pointer me-4">
                                    <input type="radio" name="offer">
                                    <span>Нажимая кнопку заказать вы соглашаетесь
                                        с условиями договора оферты</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 order-1 order-xxl-2 order-xl-2 order-lg-2 order-md-2 order-sm-1">
                        <div class="shopping--basket">
                            <div class="basket--product card--product">
                                <div class="product--image">
                                    <img src="../assets/imgs/product--image-2.jpg" alt="#">
                                </div>
                                <div class="product--info d-flex flex-column">
                                    <span class="product--name">Кустовая роза белая</span>
                                    <span class="product--price">1999</span>
                                </div>
                                <div class="product--interface d-flex justify-content-end">
                                    <div class="w-100 d-flex justify-content-end">
                                        <button>
                                            <img src="../assets/imgs/love--light.svg" alt="love">
                                        </button>
                                        <button>
                                            <img src="../assets/imgs/trash.svg" alt="trash">
                                        </button>
                                    </div>
                                    <div class="quantity--product mt-2">
                                        <button
                                            class="minus d-flex justify-content-center align-items-center">-</button>
                                        <button class="num">0</button>
                                        <button class="plus d-flex justify-content-center align-items-center">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab--content-state">
                            <div class="content--grid">
                                <div>
                                    <div class="d-flex flex-column mt-4">
                                        <input name="promo-code" type="text" placeholder="Промокод"
                                            class="text-center input--transparent mt-2 ps-2 pe-2">
                                    </div>
                                </div>
                                <div>
                                    <div class="d-flex flex-column mt-4">
                                        <input type="button" value="Применить"
                                            class="text-center white--btn mt-2 ps-2 pe-2">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 d-flex">
                                <div class="d-flex align-items-center w-75">
                                    <p class="m-0">Оплатить баллами</p>
                                </div>
                                <div class="d-flex align-items-center justify-content-end w-25">
                                    <div class="bonus--info">
                                        <span>166</span>
                                        <img src="../assets/imgs/coin.svg" alt="coin">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4">
                                <label class="custom-radio pointer me-4">
                                    <input type="radio" name="bonus-pay">
                                    <span>Да</span>
                                </label>
                                <label class="custom-radio pointer">
                                    <input type="radio" name="bonus-pay" checked="checked">
                                    <span>Нет</span>
                                </label>
                            </div>
                            <div class="list--icon mt-4">
                                <div class="d-flex align-items-center">
                                    <div class="icon--purple circle">
                                        <img src="../assets/imgs/speedcar--icon.svg" alt="speedcar">
                                    </div>
                                    <span class="ms-4">Бесплатная доставка по городу</span>
                                </div>
                            </div>
                            <div class="list--icon mt-4">
                                <div class="d-flex align-items-center">
                                    <div class="icon--green circle">
                                        <img src="../assets/imgs/guarantee.svg" alt="guarantee">
                                    </div>
                                    <span class="ms-4">Бесплатная доставка по городу</span>
                                </div>
                            </div>
                            <p class="mt-4">Детали цены</p>
                            <div class="result">
                                <div class="result--bonus d-flex justify-content-between w-100">
                                    <span>Будет начисленно</span>
                                    <div>
                                        <span id="result--bonus">166</span>
                                        <img src="../assets/imgs/coin.svg" alt="coin">
                                    </div>
                                </div>
                                <div class="sum d-flex justify-content-between w-100">
                                    <span>Сумма без учета баллов</span>
                                    <span>12 300₽</span>
                                </div>
                                <div class="result--coin d-flex justify-content-between w-100">
                                    <span>Итого:</span>
                                    <span>12 622₽</span>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex flex-column mt-4">
                                    <input type="button" value="Заказать" class="text-center white--btn mt-2 ps-2 pe-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="footer--content d-flex justify-content-between align-items-center">
                        <ul class="ul--reset w-100 footer--ul-top">
                            <p>Категории</p>
                            <li><a href="#">Конструктор букета</a></li>
                            <li><a href="#">Букет на вкус флориста</a></li>
                            <li><a href="#">Срочный заказ</a></li>
                            <li><a href="#">Идеально к букету</a></li>
                            <li><a href="#">Подборки</a></li>
                            <li><a href="#">Монобукеты</a></li>
                            <li><a href="#">Оплата доставки за город</a></li>
                        </ul>
                        <ul class="ul--reset w-100 footer--ul-bottom">
                            <p>Информация</p>
                            <li><a href="#">Популярные вопросы</a></li>
                            <li><a href="#">Новости и скидки</a></li>
                            <li><a href="#">Оплата</a></li>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Договор оферты</a></li>
                            <li><a href="#">Политика конфеденциальности</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                        <div class="footer--logotype d-flex justify-content-end align-items-center">
                            <img src="../assets/imgs/logotype-blue.svg" alt="logotype" class="w-75">
                        </div>
                    </div>

                    <div class="footer--copyright  d-flex justify-content-between align-items-center">
                        <span>Сopyright © 2021 Beehapy</span>
                        <ul class="d-flex justify-content-between align-items-center ul--reset footer--nav">
                            <li class="me-3"><a href="#" class="text-white">Terms</a></li>
                            <li class="me-3"><a href="#" class="text-white">Privacy</a></li>
                            <li><a href="#" class="text-white">Cookies</a></li>
                        </ul>

                        <div class="footer--networks d-flex justify-content-between align-items-center">
                            <a href="#" class="header--btn instagram">
                                <img src="../assets/imgs/instagram.svg" alt="viber" class="header--btn-image"></a>
                            <a href="#" class="header--btn whatsapp">
                                <img src="../assets/imgs/whatsapp.svg" alt="viber" class="header--btn-image"></a>
                            <a href="#" class="header--btn vk">
                                <img src="../assets/imgs/vk.svg" alt="viber" class="header--btn-image"></a>
                            <a href="#" class="header--btn telegram">
                                <img src="../assets/imgs/telegram.svg" alt="viber" class="header--btn-image"></a>
                            <a href="#" class="header--btn viber">
                                <img src="../assets/imgs/viber.svg" alt="viber" class="header--btn-image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Корзина -->
        <div class="wrapper--basket">
            <div class="shop--basket">
                <div class="basket--content">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                        <span class="basket--title">
                            Ваша корзина
                        </span>
                        <div class="popup--closed pointer pop-up_btn d-flex justify-content-center align-items-center"
                            data-pop-up-status=0 data-pop-up-name="wrapper--basket">
                            <div class="cross">
                                <div class="md"></div>
                            </div>
                        </div>
                    </div>
                    <div id="shopping--basket" class="shopping--basket">

                    </div>

                    <div class="list--icon mt-4">
                        <div class="d-flex align-items-center">
                            <div class="icon--purple circle">
                                <img src="../assets/imgs/speedcar--icon.svg" alt="speedcar">
                            </div>
                            <span class="ms-4">Бесплатная доставка по городу</span>
                        </div>
                    </div>
                    <div class="list--icon mt-4">
                        <div class="d-flex align-items-center">
                            <div class="icon--green circle">
                                <img src="../assets/imgs/guarantee.svg" alt="guarantee">
                            </div>
                            <span class="ms-4">В случае доставки товара не надлежащего качества
                                сообщите нам и мы его заменим</span>
                        </div>
                    </div>
                    <p class="mt-4">Детали цены</p>
                    <div class="result">
                        <div class="result--bonus d-flex justify-content-between w-100">
                            <span>Будет начисленно</span>
                            <div>
                                <span id="result--bonus">166</span>
                                <img src="../assets/imgs/coin.svg" alt="coin">
                            </div>
                        </div>
                        <div class="sum d-flex justify-content-between w-100">
                            <span>Сумма без учета баллов</span>
                            <span>12 300₽</span>
                        </div>
                        <div class="result--coin d-flex justify-content-between w-100">
                            <span>Итого:</span>
                            <span>12 622₽</span>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex flex-column mt-4">
                            <input type="button" value="Перейти к оформлению"
                                class="text-center white--btn mt-2 ps-2 pe-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup--select-city p-3 pt-4">
            <ul class="ul--reset">
                <li>
                    <label class="custom-radio pointer me-4">
                        <input type="radio" value="Абакан" name="city">
                        <span>Абакан</span>
                    </label>
                </li>
                <li class="mt-2">
                    <label class="custom-radio pointer me-4">
                        <input type="radio" value="Азов" name="city">
                        <span>Азов</span>
                    </label>
                </li>
                <li class="mt-2">
                    <label class="custom-radio pointer me-4">
                        <input type="radio" value="Александров" name="city">
                        <span>Александров</span>
                    </label>
                </li>
                <li class="mt-2">
                    <label class="custom-radio pointer me-4">
                        <input type="radio" value="Алексин" name="city">
                        <span>Алексин</span>
                    </label>
                </li>
                <li class="mt-2">
                    <label class="custom-radio pointer me-4">
                        <input type="radio" value="Альметьевск" name="city">
                        <span>Альметьевск</span>
                    </label>
                </li>
                <li class="mt-2">
                    <label class="custom-radio pointer me-4">
                        <input type="radio" value="Анапа" name="city">
                        <span>Анапа</span>
                    </label>
                </li>
            </ul>
        </div>
        <script src="../../src/components/script.js"></script>
        <script>
            const tabI1State1 = document.querySelector("#tab-i1--state-1");
            const tabI1State2 = document.querySelector("#tab-i1--state-2");
            const tabContentState2 = document.querySelector("#tab--content-state-2");
            const tabContentState1 = document.querySelector("#tab--content-state-1");

            const wrapper = document.querySelector(".wrapper");

            const resetWrapper = function () {
                wrapper.classList.remove("wrapper--reset");
                setTimeout(() => {
                    wrapper.classList.add("wrapper--reset");
                }, 200);
            };

            const addressOn = document.querySelector("#address-on");
            const addressOff = document.querySelector("#address-off");

            if (addressOn != null && addressOff != null) {
                const address = document.querySelectorAll(".address--section");
                addressOn.addEventListener("click", () => {
                    address.forEach((e) => {
                        e.classList.remove("section--input-disabled");
                        e.querySelector("input").disabled = false;
                    });
                });
                addressOff.addEventListener("click", () => {
                    address.forEach((e) => {
                        e.classList.add("section--input-disabled");
                        e.querySelector("input").disabled = true;
                    });
                });
            }

            if (tabI1State1 != null && tabI1State2 != null) {
                tabI1State2.addEventListener("click", () => {
                    tabI1State2.classList.add("white--btn");
                    tabI1State2.classList.remove("transparent--btn");

                    tabI1State1.classList.remove("white--btn");
                    tabI1State1.classList.add("transparent--btn");

                    tabContentState2.classList.add("tab--content-state-active");
                    tabContentState1.classList.remove("tab--content-state-active");
                    resetWrapper();
                });

                tabI1State1.addEventListener("click", () => {
                    tabI1State1.classList.add("white--btn");
                    tabI1State1.classList.remove("transparent--btn");

                    tabI1State2.classList.remove("white--btn");
                    tabI1State2.classList.add("transparent--btn");

                    tabContentState1.classList.add("tab--content-state-active");
                    tabContentState2.classList.remove("tab--content-state-active");
                    resetWrapper();
                });
            }
            const form = document.querySelector("#form");
            if (form != null) {
                form.addEventListener(
                    "submit",
                    function (event) {
                        var data = new FormData(form);
                        for (const entry of data) {
                            console.log(entry);
                        }
                        event.preventDefault()
                    },
                    false
                );
            }

            const postCardOn = document.querySelector("#post--card-on")
            const postCardOff = document.querySelector("#post--card-off")
            const postCardArea = document.querySelector("#post--card-area")

            postCardOff.addEventListener("click", () => {
                postCardOff.classList.add("white--btn")
                postCardOff.classList.remove("transparent--btn")

                postCardOn.classList.remove("white--btn")
                postCardOn.classList.add("transparent--btn")

                postCardArea.disabled = true
                postCardArea.classList.add("section--input-disabled")
            })
            postCardOn.addEventListener("click", () => {

                postCardOn.classList.add("white--btn")
                postCardOn.classList.remove("transparent--btn")

                postCardOff.classList.remove("white--btn")
                postCardOff.classList.add("transparent--btn")

                postCardArea.disabled = false
                postCardArea.classList.remove("section--input-disabled")
            })
        </script>
</body>

</html>