<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div id="calendar--popup" class="justify-content-center align-items-center flex-column">
            <div class="closed" onclick="closedCalendar()">
                <span></span>
                <span></span>
            </div>
            <span class="calendar--title mb-3">Календарь скидок</span>
            <div id="date-container"></div>
            <p>Получите выгоду</p>
            <p>При оплате заявки заблаговременно Вам доступна скидка, наша платформа рассчитает её самостоятельно для
                всех товаров , выберите желаемую дату исполнения.</p>
            <p>От 7 дней - 5% <br>
                От 14 дней – 10% <br>
                От 21 дня - 15%</p>
        </div>
        <div id="content" class="welcome d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="logotype d-flex justify-content-center align-items-center">
                            <img src="../assets/imgs/logotype-low.svg" alt="logotype-low" class="logotype--img">
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mt-4">
                    <div class="col-4 text-center">
                        <p class="about-briefly">Удобный Мобильный сервис
                            доставки сюрпризов и подарков</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <span class="site-name">BeEhappy</span>
                    </div>
                </div>

                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-8 mt-4 d-flex justify-content-center align-items-center">
                        <div class="select--city w-50">
                            <a class="select border--bottom-purple d-flex justify-content-center align-items-center">
                                <span>Выбрать город</span>
                                <img src="../assets/imgs/search.svg" alt="seach">
                            </a>
                        </div>
                        <div class="w-50">
                            <a class="select border--bottom-purple d-flex justify-content-center align-items-center"
                                onclick="openCalendar()">
                                <img src="../assets/imgs/calendar.svg" alt="calendar">
                                <span>Календарь скидок</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 text-center">
                        <h3>О нас</h3>
                    </div>
                </div>
                <div class="row d-flex justify-content-center align-items-center mt-3">
                    <div class="col-4 text-center">
                        <p class="about">Это быстрая и бесплатная доставка
                            цветов и подарков в Твоём городе
                        </p>
                        <p>Немного о нас
                            Мы работаем с 2015 года
                            у Нас богатый опыт в своём деле</p>
                        <p>Все Наши цветы это высококачественный
                            импорт который транспортируется и хранится самыми современными способами</p>

                        <p>Быстрая транспортировка позволяет получать
                            самые свежие местные и экзотические Цветы</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup--select-city p-3 pt-4">
        <ul class="ul--reset">
            <li>
                <label class="custom-radio pointer me-4">
                    <input type="radio" value="Абакан" name="city">
                    <span>Абакан</span>
                </label>
            </li>
            <li class="mt-2">
                <label class="custom-radio pointer me-4">
                    <input type="radio" value="Азов" name="city">
                    <span>Азов</span>
                </label>
            </li>
            <li class="mt-2">
                <label class="custom-radio pointer me-4">
                    <input type="radio" value="Александров" name="city">
                    <span>Александров</span>
                </label>
            </li>
            <li class="mt-2">
                <label class="custom-radio pointer me-4">
                    <input type="radio" value="Алексин" name="city">
                    <span>Алексин</span>
                </label>
            </li>
            <li class="mt-2">
                <label class="custom-radio pointer me-4">
                    <input type="radio" value="Альметьевск" name="city">
                    <span>Альметьевск</span>
                </label>
            </li>
            <li class="mt-2">
                <label class="custom-radio pointer me-4">
                    <input type="radio" value="Анапа" name="city">
                    <span>Анапа</span>
                </label>
            </li>
        </ul>
    </div>

    <script src="../../src/components/script.js"></script>
    <script src="../../src/components/calendar.js"></script>
</body>

</html>