@media (max-width: 1400px) {
  .wrapper--basket {
    .shop--basket {
      width: 50%;
    }
  }

  .card--interface {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .card--product--wrapper {
    grid-template-columns: repeat(3, calc(33% - 30px)) !important;
  }
}

@media (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
    &::after {
      content: none;
    }
  }
}

@media (max-width: 992px) {

  .welcome {
    .select  {
      padding: 10px 10px;
      width: 100%;
    }
  }

  .card--product--wrapper {
    grid-template-columns: repeat(2, calc(50% - 30px)) !important;
  }

  .ps-c-5 {
    padding-left: 0px;
  }

  .wrapper--basket {
    .shop--basket {
      width: 60%;
    }
  }

  .card--interface {
    width: 100%;
  }

  #header {
    height: auto !important;
  }

  .headlines {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .burger--text {
    display: none !important;
  }
  .mobile-nav {
    overflow-y: scroll;
    display: flex !important;
    .nav {
      display: flex;
      flex-direction: row !important;
      flex-wrap: nowrap !important;
    }
    .logotype {
      .logotype--img {
        width: 50px !important;
      }
    }

    .header--btn {
      .header--btn-image {
        min-height: 25px !important;
      }
      padding: 0 !important;
      height: 50px !important;
      min-width: 50px !important;
      justify-content: center !important;
      align-items: center !important;
    }

    .vk,
    .instagram,
    .telegram,
    .viber,
    .whatsapp {
      .header--btn-image {
        min-height: 50px !important;
      }
    }
  }

  .desktop-nav {
    background: red;
    display: none !important;
  }
}

@media (max-width: 768px) {
  #time--delivery {
    grid-template-columns: repeat(1, calc(100%)) !important;
  }

  .card--product--wrapper {
    justify-content: center;
    grid-template-columns: repeat(1, calc(60% - 30px)) !important;
  }

  .wrapper--basket {
    .shop--basket {
      padding: 15px;
      width: 90%;
      .basket--content {
        width: 100%;
      }
    }
  }

  .footer {
    .footer--nav,
    .footer--networks {
      display: none !important;
    }

    .footer--content {
      flex-direction: column !important;
      align-items: start !important;
      border: none !important;
      padding-top: 0 !important;
      .footer--logotype {
        width: 100% !important;
        order: -1;
        @include d-flex(flex, center, center, column);
        img {
          width: 50% !important;
        }
      }
    }

    .footer--ul-top {
      margin-top: 80px;
      border-top: 1px solid $purple;
      padding-top: 50px;
    }

    .footer--ul-bottom {
      margin-top: 20px;
      padding-bottom: 50px;
      border-bottom: 1px solid $purple;
    }
  }
}

@media (max-width: 535px) {
  
  .tab--interface {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tab--content-state {
    .content--grid {
      grid-template-columns: repeat(1, calc(100%)) !important;
    }
  }

  .card--product--wrapper {
    justify-content: center;
    grid-template-columns: repeat(1, calc(80% - 30px)) !important;
    .card--title {
      width: 100% !important;
    }
  }
}

@media (max-width: 385px) {
  .card--product--wrapper {
    grid-template-columns: repeat(1, calc(100% - 30px)) !important;
  }
}
