@mixin d-flex($d, $j, $a, $f) {
  display: $d;
  justify-content: $j;
  align-items: $a;
  flex-direction: $f;
}

@mixin card() {
  background: #04133c;
  border: 1px solid #002685;
  box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2),
    -3px -3px 6px rgba(22, 184, 195, 0.2);
  border-radius: 20px;
}

@mixin scroll-bar() {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: $blue-dark;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #854fc8;
    // border-radius: 10px;
    background-color: #854fc8;

    // Add Border on Track
    border-left: 3px solid $blue-dark;
    border-right: 3px solid $blue-dark;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0px $white;
    background-color: $white;
  }
}
